!README.md
!CHANGELOG.md
!LICENSE

.env

!custom
custom/*

!logs
logs/*

!shared
shared/*

!scripts

!archives
archives/*
!archives/**

!appdata
appdata/*

!appdata/docker-gc
appdata/docker-gc/*

!appdata/filebrowser
!appdata/filebrowser/settings.json
appdata/filebrowser/filebrowser.db

!appdata/gluetun
appdata/gluetun/*

!appdata/grafana
appdata/grafana/*

!appdata/heimdall
appdata/heimdall/*

!appdata/lidarr
appdata/lidarr/*

!appdata/loki

!appdata/picard
appdata/picard/*

!appdata/plex-meta-manager
appdata/plex-meta-manager/config.cache
appdata/plex-meta-manager/logs
appdata/plex-meta-manager/overlays
appdata/plex-meta-manager/.env
appdata/plex-meta-manager/UUID

!appdata/portainer
appdata/portainer/*

!appdata/prometheus
!appdata/prometheus/config/*
!appdata/prometheus/data
appdata/prometheus/data/*

!appdata/promtail
!appdata/promtail/config/*

!appdata/prowlarr
appdata/prowlarr/*

!appdata/qbittorrent
appdata/qbittorrent/*

!appdata/radarr
appdata/radarr/*

!appdata/sonarr
appdata/sonarr/*

!appdata/stash
!appdata/stash/config.yml
!appdata/stash/plugins/*
!appdata/stash/scrapers/*
appdata/stash/icon.png
appdata/stash/custom.css
appdata/stash/stash-go.sqlite

!appdata/tautulli
appdata/tautulli/*