.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix

!.github
.github/*
!.github/FUNDING.yml

.env

!appdata
appdata/*

!archives
archives/*
!archives/**

!custom
custom/*
!custom/Dockerfile-*

!logs
logs/*

!scripts
scripts/*

!secrets
secrets/*

!shared
shared/*





